.orders {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders__item h1 {
  margin: 0;
  font-size: 1rem;
}

.orders__item {
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
}

.orders__item .order-remove {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 13px;
  padding: 4px 7px;
}

.orders__products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.orders__products-item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #00695c;
  color: #00695c;
}

.totalPrice {
  width: 40rem;
  height: 3rem;
  letter-spacing: 2px;
  font-size: 1.2rem;
  max-width: 90%;
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  background: #c9f1ec;
  color: rgb(14, 69, 14);
  border-radius: 4px;
}
